*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
}
/* --container-- */
.container {
    text-align: center;
}
.loader {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
}
.ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}
/* now target ball 1 */
.ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
}
@keyframes bounce-1 {
    50%{
        transform: translateY(-18px);
        background-color: aqua;
    }
}
/* now target ball 2 */
.ball:nth-child(2) {
    animation: bounce-2 2.1s ease-in-out 0.3s infinite;
}
@keyframes bounce-2 {
    50%{
        transform: translateY(-18px);
        background-color: aqua;
    }
}
/* now target ball 3 */
.ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}
@keyframes bounce-3 {
    50%{
        transform: translateY(-18px);
        background-color: aqua;
    }
}
/* nnow target the last ball */
.ball:nth-child(4) {
    animation: bounce-4 2.1s ease-in-out 0.9s infinite;
}
@keyframes bounce-4 {
    50%{
        transform: translateY(-18px);
        background-color: aqua;
    }
}